@charset "utf-8";
/* CSS for Hunt the Wumpus */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;	
}
#board {
	background-color:#999;
	height:250px;
	width:250px;
}
#board td {
	background-color:#ccc;	
}
#feedback {
	background-color:#FFFF99;
	border:2px solid #FFCC99;
	height:100px;
	width:230px;
	padding:10px;
	position:absolute;
	top:95px;
	left:280px;
}

#movementControls {
	position:absolute;
	top:240px;
	left:300px;
}

#arrowControls {
	position:absolute;
	top:240px;
	left:475px;
}
